section.footer
	.container
		.row
			ul
				li
					a(href="download.html") دریافت اسنپ
				//- li
					a(href="#") راهنمای استفاده
				//- li
					a(href="blog.html") وبلاگ
				li
					a(href="career.html") فرصت های شغلی
				li
					a(href="terms.html") شرایط و قوانین
				li
					a(href="policy.html") حریم خصوصی
				li
					a(href="about.html") درباره ما
				li
					a(href="contact.html") تماس با ما
			
			p ©کپی رایت تمامی حقوق مادی و معنوی این سرویس (وب سایت و اپلیکیشن های موبایل) متعلق به اسنپ (snapp.ir) است.
			
			.icons(dir="ltr")
				a.twitter(href="https://twitter.com/snapp_team" target="_blank")
					i.mdi.mdi-md.mdi-twitter-box
				a.linkedin(href="https://www.linkedin.com/company/taxiyaab" target="_blank")
					i.mdi.mdi-md.mdi-linkedin-box
				a.facebook(href="https://facebook.com/snapp.ir" target="_blank")
					i.mdi.mdi-md.mdi-facebook-box
				a.instagram(href="http://instagram.com/snapp_team" target="_blank")
					i.mdi.mdi-md.mdi-instagram
