block project-info

- function cacheBusted(url){ return url }

doctype html
html(lang="en")
	head
		meta(charset='utf-8')

		block title
			title
				=pagename
				
		meta(name="author" content= "Snapp.ir")
		meta(name="keywords" content="")
		meta(name='description' content="")

		meta(name="robots" content="index follow")
		meta(name="copyright" content="2015-2016")
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name="viewport" content="initial-scale=1.0 user-scalable=no width=device-width")

		meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
		meta(name="apple-mobile-web-app-capable" content="yes")

		link(rel="shortcut icon" type="image/x-icon" href="./dist/img/favicon.png")
		link(href='dist/css/styles.css' rel="stylesheet" media="all")

		block header

	body
		block content

		if(branch != true)
			include scripts.jade

		block footer
