script(type="text/javascript" data-main="./dist/js/config" src="./dist/js/libraries/require.js")
script(type="text/javascript").
	require(['config'], function(){
		require(['modules/initial']);
	});
